<%= link_to "+", new_profile_path, { class: "btn btn-success floating-button add-float text-white", :style => "z-index: 1", id: "new-profile", :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#new-profile-modal'} %>

<!--
<%= link_to '+', new_profile_path, :class => "btn btn-success floating-button add-float", :style => "z-index: 1" %> -->

<div class="container-fluid hidden-sm-up text-muted">
  <h3 class="mt-4">Member Directory</h3>
  <div class="col-sm-6 directory list-group">
    <% if @profiles.any? %>
      <% @profiles.each do |profile| %>
        <div class="list-group-item list-group-item-action pl-3 border-right-0 border-left-0">
          <% if profile.status === "Survive" %>
            <img class="card-profile-img rounded-circle hidden-md-up" src="../images/starve_ups_stage-01.png" style="width: 50px">
          <% elsif profile.status === "Strive" %>
            <img class="card-profile-img rounded-circle hidden-md-up" src="../images/starve_ups_stage-02.png" style="width: 50px">
          <% elsif profile.status == "Thrive" %>
            <img class="card-profile-img rounded-circle hidden-md-up" src="../images/starve_ups_stage-03.png" style="width: 50px">
          <% end %>
          <%= link_to profile.company, profile_path(profile), :class => "text-muted pl-3" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container hidden-xs-down text-muted">
  <div class="card-group">
    <h3 class="my-4">Member Directory</h3>
    <div class="row d-flex flex-wrap text-center">
    <% if @profiles.any? %>
        <% @profiles.each do |profile| %>
          <div class="col-sm-4 mb-4">
            <div class="card text-muted" style="box-shadow:0 2px 5px 0 rgba(0,0,0,.10), 0 2px 10px 0 rgba(0,0,0,.12)">
              <img class="card-img-top hidden-xs-down" style="background-image: url(../images/profile_preview.png); height: 200px; width: auto" alt="">
              <div class="card-block pb-5">
                <% if profile.status === "Survive" %>
                  <img class="card-profile-img rounded-circle hidden-xs-down" src="../images/starve_ups_stage-01.png" style="width: 100px; margin-top: -4rem">
                <% elsif profile.status === "Strive" %>
                  <img class="card-profile-img rounded-circle hidden-xs-down" src="../images/starve_ups_stage-02.png" style="width: 100px; margin-top: -4rem">
                <% elsif profile.status == "Thrive" %>
                  <img class="card-profile-img rounded-circle hidden-xs-down" src="../images/starve_ups_stage-03.png" style="width: 100px; margin-top: -4rem">
                <% end %>
                <h5 class="card-title"><%= link_to profile.company, profile_path(profile)%></h5>
                <p class="card-text"><%= profile.industry %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<!-- <div class="mt-2">
  <div class="row">
    <div class="col-sm-4">
      <div class="card card-profile">
        <div class="card-header" style="background-image: url(../images/placeholder_shaded.png); height: 180px; width: 100%"></div>
        <div class="card-block text-xs-center">
          <img class="card-profile-img rounded-image" src="../images/founders.jpeg" style: "rou">
          <h5 class="card-title">Jacob Thornton</h5>
          <p class="mb-4">Big belly rude boy, million dollar hustler. Unemployed.</p>
          <button class="btn btn-outline-primary btn-sm">
            <span class="icon icon-add-user"></span> Follow
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card card-profile">
        <div class="card-header" style="background-image: url(https://igcdn-photos-h-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11240760_365538423656311_112029877_n.jpg);"></div>
        <div class="card-block text-xs-center">
          <img class="card-profile-img" src="../assets/img/avatar-mdo.png">
          <h5 class="card-title">Mark Otto</h5>
          <p class="mb-4">GitHub and Bootstrap. Formerly at Twitter. Huge nerd.</p>
          <button class="btn btn-outline-primary btn-sm">
            <span class="icon icon-add-user"></span> Follow
          </button>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="modal fade" id="new-profile-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New profile details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="new-event-form">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
