
<!-- <div class="container">
  <%= link_to '< Member Directory', profiles_path %>
</div> -->
<div class="jumbotron jumbotron-fluid d-flex align-items-center profile-show" style="height: 20rem">
  <h1 class="display-5 text-white"><%= @profile.company %></h1>
</div>

<%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i> <span>&nbsp; &nbsp;Edit </span>'.html_safe, edit_profile_path(@profile), :class => "btn rounded-left btn-primary edit-float floating-button text-white" %>

<div class="container">
  <div class="row">
    <div class="col-sm-5 text-muted p-4 color-block" style="max-height: 520px">
      <h5 class="mb-4"><%= @profile.company %> at a Glance</h5>
      <div class="row d-flex justify-content-between">
        <div class="col">
          <p class="mb-0" style="font-size: .5rem"><strong><i class="fa fa-area-chart" aria-hidden="true"></i> &nbsp;INDUSTRY:</strong></p>
          <p class="mb-3">
            <%= @profile.industry %></p>
        </div>
        <div class="col">
          <p class="mb-0" style="font-size: .5rem"><i class="fa fa-flag" aria-hidden="true"></i>&nbsp;<strong>MEMBER STATUS</strong></p>
          <p class="mb-3"><%= @profile.status %></p>
        </div>
      </div>
      <div class="row d-flex justify-content-between">
        <div class="col">
          <p class="mb-0" style="font-size: .5rem"><i class="fa fa-birthday-cake" aria-hidden="true"></i>&nbsp; <strong>FOUNDED:</strong></p>
          <p class="mb-3"><%= @profile.founded %></p>
        </div>
        <div class="col">
          <p class="mb-0" style="font-size: .5rem"><i class="fa fa-users" aria-hidden="true"></i>&nbsp; <strong>MEMBER SINCE:</strong></p>
          <p class="mb-3"> <%= @profile.membersince %></p>
        </div>
      </div>

      <p class="mb-0" style="font-size: .5rem"><i class="fa fa-money" aria-hidden="true"></i>&nbsp;<strong>FUNDING SOURCES:</strong></p>
      <p class="mb-3"><%= @profile.funding %></p>

      <p class="mb-0" style="font-size: .5rem"><i class="fa fa-rocket" aria-hidden="true"></i>&nbsp;<strong>BUSINESS STRATEGY:</strong></p>
      <p class="mb-3"><%= @profile.strategy %></p>

      <p class="mb-0" style="font-size: .5rem"><strong><i class="fa fa-eject" aria-hidden="true"></i>&nbsp;EXIT STRATEGY:</strong></p>
      <p class="body">
        <%= @profile.exit %></p>
      <p class="mb-0" style="font-size: .5rem"><strong><i class="fa fa-laptop" aria-hidden="true"></i>&nbsp;WEBSITE:</strong></p>
      <%= link_to @profile.website, :target => "_blank", :class => "" %>
    </div>
    <div class="col-sm-7 body-all">
      <h3 class="quote">"<%= @profile.overview %>"</h3>
      <hr>
      <h5>About <%=@profile.company%></h5>
      <p class=><%=@profile.body%></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-7 contact-image">
    </div>
    <div class="col-sm-5 contact-info">
      <h4>WE'D LOVE TO HEAR FROM YOU</h4>
      <p><%= @profile.company %><br/>
      <span class="link">info@profile.com</span><br/>
      <span class="link"><%= @profile.website %></span></p>
      <br/>
      <p class="profile-label">FOUNDED BY:</p>
      <p>Founder's Name<br/>
      1(503)321-5432<br/>
      <span class="link">email@founder.com</span></p>
    </div>
  </div>
</div>
