<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @profile.brand %>
</p>

<p>
  <strong>Body:</strong>
  <%= @profile.body %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
