<div class="background-grey" style="margin-top:-50px">
  <div class="sort-members shadow-nav" style="background-color:#353535">
    <!-- <ul class="nav flex-row align-items-center">
      <li class="nav-item ml-4">
        <%= link_to '< Member Directory', profiles_path, :class=>"nav-link" %>
      </li>
    </ul> -->

  </div>
</div>

<div class="jumbotron jumbotron-fluid d-flex align-items-center profile-show mb-0" style="height: 20rem">
</div>

<%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i> <span>&nbsp; &nbsp;Edit </span>'.html_safe, edit_partner_path(@partner), :class => "btn rounded-left btn-info edit-float floating-button text-white", :style => "z-index: 1; border-radius: 5px 0 0 5px", id: "edit-partner", :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#edit-partner-modal' %>

<%= link_to '<i class="fa fa-times" aria-hidden="true"></i>
 <span>&nbsp; &nbsp;Delete </span>'.html_safe, partner_path(@partner), :class => "btn rounded-left btn-danger delete-float floating-button text-white", :style => "z-index: 1; border-radius: 5px 0 0 5px", id: "delete-partner", :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#delete-partner-modal' %>

<div class="container flex-row">
  <div class="row">
    <div class="col-sm-4 background-grey summary-text shadow-inner rounded pb-4 px-0">
      <h3 class="pt-4 pb-2 px-3 text-blue"><%= @partner.company %></h3>

      <p class="label mb-0 px-3 " style=""><strong><i class="fa fa-area-chart" aria-hidden="true"></i> &nbsp;INDUSTRY:</strong></p>
      <p class="mb-3 px-3 summary-text" style="font-size: 1em">
        <%= @partner.industry %></p>

      <p class="label mb-0 px-3" style=""><i class="fa fa-users" aria-hidden="true"></i>&nbsp; <strong>PARTNER SINCE:</strong></p>
      <p class="mb-3 px-3 summary-text"> <%= @partner.since %></p>

      <p class="label mb-0 px-3" style=""><strong><i class="fa fa-laptop" aria-hidden="true"></i>&nbsp;WEBSITE:</strong></p>
      <p class="label px-3"><%= link_to @partner.website, :target => "_blank"%></p>

      <div class="color-block blue-shadow mt-4 px-3 py-3">
        <!-- <img src="../images/founders.jpeg" class="px-3" style="margin-top: -4" alt=""> -->
        <h5 class="subhead pb-0"><%= @partner.company %></h5>
        <p><a href="#" class="summary-text"><%= @partner.website %></a> <br/>
        <a href="#"><%= @partner.email %></a></p>
        <h5 class="subhead pt-4 pb-0">Contact:</h5>
        <p class="summary-text">
          <%= @partner.contactperson %><br/>
          <%= @partner.phone %><br/>
          <a href="#"><%= @partner.email %></a>
        </p>
      </div>
    </div>

    <div class="col-sm-8 details px-4 mt-1 rounded shadow-left">
      <p class="quote my-4" style="font-size: 2rem; line-height: 1.25">"<%= @partner.partnership %>"</p>
      <hr>
      <h5 class="subhead pt-4">About <%= @partner.company %></h5>
      <p class="body-copy" style="max-width: 800px"> <%=@partner.body %></p>
      <div class="embed-responsive embed-responsive-16by9 my-4">
        <div class="embed-responsive-item">
          <iframe src="https://player.vimeo.com/video/119810871?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <p><a href="https://vimeo.com/119810871">Starve Ups Overview Video</a> from <a href="https://vimeo.com/starveups">Starve Ups</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="edit-partner-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Partner Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="new-partner-form">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="delete-member-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="delete-member-form">
        <h5 class="display-5 pt-4 px-auto text-muted">Are you sure you want to delete this Partner? </h5>
        <p class="pb-4 px-auto text-muted">You might miss them when they're gone.</p>
        <%= link_to 'Delete Forever', partner_path(@partner), method: :delete, :class => "btn btn-danger" %>
        <!-- <button class="btn btn-danger" type="button" name="button">Delete Forever</button> -->
      </div>
    </div>
  </div>
</div>
