<div class="form_new text-muted">

  <%= form_for @event, remote: true do |f| %>

    <div class="field form-group text-uppercase">
      <%= f.label :title, "Event title", class: "form-label", style:"font-size: .75em" %>
      <%= f.text_field :title, :class => "form-control" %>
    </div>

    <div class="field form-group text-uppercase">
      <%= f.radio_button :exclusive, true %>
      <%= f.label :exclusive, "&nbsp; Members Only".html_safe, class: "form-label", style:"font-size: .75em" %><br/>
      <%= f.radio_button :exclusive, false %>
      <%= f.label :exclusive, "&nbsp; Public Event".html_safe, class: "form-label", style:"font-size: .75em" %>
    </div>

    <div class="field form-group text-uppercase" style="font-family:'Open Sans'">
      <%= f.label :start, 'Begins', class: "form-label", style:"font-size: .75em" %><br/>
      <%= f.datetime_select :start, :ampm => true, class: "form-control" %>
    </div>

    <div class="field form-group text-uppercase">
      <%= f.label :end, 'Ends', class: "form-label", style:"font-size: .75em" %><br/>
      <%= f.datetime_select :end, :ampm => true, class: "form-control" %>
    </div>

    <div class="field form-group text-uppercase">
      <%= f.label :body, "Description", class: "form-label", style:"font-size: .75em" %>
      <%= f.text_area :body, :class => "form-control", :style=>"height: 200px" %>
    </div>

    <div class="field form-group text-uppercase">
      <%= f.label :color, 'Select a background color', class: "form-label", style:"font-size: .75em"%><br/>
      <input type="color" class="form-control" name="" value="#3a87ad">
    </div>

    <div class="actions form-inline modal-footer">
      <%= f.submit class: 'btn btn-default' %>
    </div>

  <% end %>
</div>
