<!-- <div class="background-grey">
  <div class="sort-members shadow-nav" style="background-color:#353535">
    <ul class="nav flex-row align-items-center">
      <li class="nav-item ml-4">
        <%= link_to '< Calendar', events_path, :class=>"nav-link" %>
      </li>
    </ul>

  </div>
</div> -->

<%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; Edit'.html_safe, edit_event_path(@event), :class=> "btn btn-info edit-float floating-button text-white", :style => "border-radius: 5px 0 0 5px", id: "edit-event", :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#edit-event-modal' %>

<%= link_to '<i class="fa fa-times" aria-hidden="true"></i>
 <span>&nbsp; &nbsp;Delete </span>'.html_safe, event_path(@event), :class => "btn rounded-left btn-danger delete-float floating-button text-white", :style => "z-index: 1; border-radius: 5px 0 0 5px", id: "delete-event", :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#delete-event-modal' %>

<div class="container">

<div class="container-fluid text-muted">
  <!-- <div class="row d-flex justify-content-end my-2">
    <a href="/events"><button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></a>
  </div> -->

  <h1 class="my-4 text-blue" style="">
    <%= @event.title %>
  </h1>
  <p class="mt-4" style="">
    March 8, 2017<br/>
    6&mdash;8:00PM |
    <!-- <%= @event.start.hour %>:<br/>
    <%= @event.start.month %>/<%= @event.start.day %> -->
  <% if @event.exclusive %>
    Members only<br/>
  <% else %>
    <span class="">Public event</span>
  <% end %>
    | <%= @event.chapter %><br/>
    <%= @event.location %>
  </p>
  <hr class="my-4">
  <h5 class="text-blue mb-0 subhead" style="">Details:</h5><br/>
  <p class="body-copy">
    <%= @event.body %>
  </p>

  <div class="modal fade" id="edit-event-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit event details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="edit-event-form">
          <%= render "form" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="delete-event-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="delete-member-form">
        <h5 class="display-5 pt-4 px-auto text-muted">Are you sure you want to delete this event?  </h5>
        <p class="pb-4 px-auto text-muted">You might miss it when it's gone.</p>
        <%= link_to 'Delete Forever', event_path(@event), method: :delete, :class => "btn btn-danger" %>
        <!-- <button class="btn btn-danger" type="button" name="button">Delete Forever</button> -->
      </div>
    </div>
  </div>
</div>

<!-- TO DO_ MAKE DELETE BUTTON WORK -->
