<div class="container-fluid text-muted">
  <div class="row d-flex justify-content-end mx-1 my-3">
    <a href="/events"><button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></a>
  </div>

  <h4 class="display-4">
    <%= @event.title %>
  </h4>
  <p class="mt-4"><%= @event.start %><br/>
  <% if @event.exclusive %>
    <strong>Members only</strong><br/>
  <% else %>
    <strong>Public event</strong><br/>
  <% end %>
    <strong>Location: </strong>
    <%= @event.location %>
  </p>

  <p><strong>Details:</strong><br/>
    <%= @event.body %>
  </p>

  <%= link_to 'Edit', edit_event_path(@event) %> |
  <%= link_to 'Back', events_path %>
</div>
