<div class="container-fluid text-muted">
  <div class="row d-flex justify-content-end mx-1 my-3">
    <a href="/events"><button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></a>
  </div>

  <h4 class="display-4">
    <%= @event.title %>
  </h4>
  <p><%= @event.start %></p>
  <% if @event.exclusive %>
    <p><small>MEMBERS ONLY</small></p>
  <% else %>
  <p><small>PUBLIC EVENT</small></p>
  <% end %>

  <p>
    <strong>Body:</strong>
    <%= @event.body %>
  </p>

  <%= link_to 'Edit', edit_event_path(@event) %> |
  <%= link_to 'Back', events_path %>
</div>
