<!-- VIDEO BLOCK -->
<!-- <div class="block block-inverse text-center mb-4" style="margin-top:-25px">
  <div class="block-foreground">
    <h1 class="block-title" style="letter-spacing:1px">Oregon's Startup Scalerator</h1>
    <h4 class="text-muted" style="letter-spacing:1px">THE END-TO-END ACCELERATOR FOR FOUNDERS &amp; STARTUPS</h4>
  </div>
  <div class="block-background" style="position:relative">
    <div class="opacity-layer">
      <iframe src="https://player.vimeo.com/video/119810871?title=0&byline=0&portrait=0" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</div> -->
<!-- <button class="btn btn-secondary btn-outline-secondary mt-1">With a simple button</button> -->

<!-- <video playsinline autoplay muted loop poster="../images/placeholder_shaded.png" id="bgvid"> -->
<!-- <video playsinline autoplay muted loop id="bgvid"> -->
    <!-- <source src="https://player.vimeo.com/video/119810871?title=0&byline=0&portrait=0" type="video/webm"> -->
    <!-- <source src="https://player.vimeo.com/video/119810871" type="video/mp4">
</video> -->
<div class="container-flex">
  <div class="text-center mb-4" style="margin-top:-25px; padding-top:100px; padding-bottom:120px">
    <div class="block-foreground py-4">
      <h1 class="block-title text-white" style="letter-spacing:1px">Oregon's Accelerator</h1>
      <h3 class="text-white" style="letter-spacing:1px">SURVIVE &nbsp;&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;&nbsp;STRIVE&nbsp;&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;&nbsp;THRIVE</h3>
    </div>
    <div class="opacity-layer" >
      <iframe muted autoplay id="bg-video" src="https://vimeo.com/119810871" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</div>


<!-- ABOUT BLOCK -->
<div class="container-fluid" id="about" style="background-color:#f4f4f4">
  <div class="container " >
    <div class="row">
      <div class="col-sm-6 my-auto">
        <h1 style="color:#616161">About Starve Ups</h1>
        <p class="mb-4" style="color:#616161">The only scalerator in Oregon for disruptive entrepreneurs in every industry. Starveups statistically changes the game for founders by increasing their likelihood of success. Our full-cycle approach and peer-to-peer mentorship method has been proven to help founders succeed. </p>
        <p class="mt-4" style="color:#616161">Compared to national startup averages, Starveups member companies are:</p>
        <div class="row d-flex mt-4" style="flex-wrap:nowrap">
          <div class="col-sm-4">
            <h1 class="text-center" style="font-size: 3em"><i class="fa fa-line-chart text-blue" aria-hidden="true"></i><br/></h1>
            <p class="text-blue text-center mb-4">6x more likely to stay in business</p>
          </div>
          <div class="col-sm-4">
            <h1 class="text-center" style="font-size: 3em"><i class="fa fa-usd text-blue" aria-hidden="true"></i></h1>
            <p class="text-blue text-center mb-4">5x more likely to raise funding</p>
          </div>
          <div class="col-sm-4">
            <h1 class="text-center" style="font-size: 3em"><i class="fa fa-handshake-o text-blue" aria-hidden="true"></i></h1>
            <p class="text-blue text-center mb-4">Nearly 3.5x more likely to exit</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <img src="../images/starveups_cycle.png" alt="Starveups businesses move from the stages of Survive to Strive to Thrive">
      </div>
    </div>
  </div>
</div>

<!-- MEMBERS logo block  -->
<div class="block">
  <!-- <div class="container"> -->
  <div class="col-sm-8 col-sm-offset-2">

  </div>
    <div class="row">
      <h1 class="mx-auto mb-4">Member Companies</h1>
    </div>
    <div class="row text-center">
      <% if @members.any? %>
        <% @members.each do |member| %>
          <div class="col-sm-3 px-auto text-center py-4">
            <h5><%= member.company %></h5>
          </div>
        <% end %>
        <% else %>
        There are no members in the directory.
      <% end %>
    </div>
  <!-- </div> -->
</div>

<!-- EVENT block  -->
<div class="block" style="background:url(../images/homebg2.jpg); background-attachment: fixed; background-size: auto">
  <!-- <div class="container"> -->
  <div class="col-sm-8 offset-sm-2">
    <div class="row">
      <h1 class="mx-auto mb-4 text-white text-shadow">Don't Miss Our Next Event</h1>
    </div>
    <div class="row text-center">
      <% if @events.any? %>
        <% @events.each do |event| %>
          <div class="col-sm-4 rounded text-muted" >
            <div class="rounded-top" style="background:white">
              <img src="../images/event.png" alt="" style="width: 100%" class="px-3 pt-3">
            </div>
            <div class="rounded-bottom" style="background: white; height: 15rem">
              <h2 class="py-3"><%= link_to event.title, event_path(event) %></h2>
              <!-- <h2 class="pt-3"><%= event.title %></h2> -->
              <p class="px-3"><strong><%= event.start.strftime("%m/%d")%> | <%= event.chapter %> |
                <% if event.exclusive %>
                  PRIVATE</strong>
                <% else %>
                  PUBLIC</strong>
                <% end %>
              <p class="px-3"><%= event.body %></p>
            </div>
          </div>
        <% end %>
        <% else %>
        There are no members in the directory.
      <% end %>
    </div>
  </div>

  <!-- </div> -->
</div>

<!-- STRATEGIC PARNTER logo block  -->
<div class="block" id="partners" style="background-color:#f4f4f4">
  <div class="container">
    <div class="row">
      <h1 class="mx-auto mb-4">Strategic Partners</h1>
    </div>
    <div class="row text-center mb-4">
      <% if @partners.any? %>
        <% @partners.each do |partner| %>
          <div class="col-sm-3 partner px-auto text-center py-4" style="position:relative">
            <h5 class="my-4"><%= partner.company %></h5>
            <div class="hoverpartner col-sm-12 text-center rounded">
              <p class="text-center"><%= link_to partner.partnership, partner_path(partner), :class=>"my-auto" %></p>
              <!-- <p class="my-auto py-4"><%= partner.partnership %></p> -->
            </div>
          </div>
        <% end %>
        <% else %>
        There are no Partners in the directory.
      <% end %>
    </div>
  </div>
</div>

  <!-- SUBSCRIPTION BLOCK -->
  <div class="block text-center" style="padding:120px 0 120px 0; background-color: white">
    <div class="container-fluid my-auto">
      <h1 class="mb-4 text-blue">
        Don't miss our next event
      </h1>
      <form class="form-inline d-flex justify-content-center">
        <div class="input-group input-group-lg">
          <div class="input-group mb-2" >
            <input type="text" class="form-control" placeholder="Email" id="sizing-addon1">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button">Subscribe</button>
            </span>
          </div>
        </div>
      </form>
      <span class="text-muted mt-2"><strong>We respect privacy.</strong> And never share your email address.</span>
    </div>
  </div>
</div>





<!-- ADDRESS BLOCK -->
<div class="block text-center text-white" id="contact" style="padding:120px 0 120px 0; background-color: #295D85">
  <div class="container my-auto">
    <div class="row">
      <div class="col-sm-4">
        <h3 class="mb-4 text-white">Portland, OR</h3>
        <p><strong>Starve Ups HQ</strong><br/>
          220 NW 8th Ave.<br/>
          Portland, OR 97209<br/>
​         <a href="mailto:contactus@starveups.com" class="text-white">contactus@starveups.com</a>
        </p>
      </div>
      <div class="col-sm-4">
        <h3 class="mb-4 text-white">Bend, OR</h3>
        <p><strong>Starve Ups HQ</strong><br/>
          220 NW 8th Ave.<br/>
          Portland, OR 97209<br/>
      ​         <a href="mailto:contactus@starveups.com" class="text-white">contactus@starveups.com</a>
        </p>
      </div>
      <div class="col-sm-4">
        <h3 class="mb-4 text-white">Eugene, OR</h3>
        <p><strong>Starve Ups HQ</strong><br/>
          220 NW 8th Ave.<br/>
          Portland, OR 97209<br/>
      ​         <a href="mailto:contactus@starveups.com" class="text-white">contactus@starveups.com</a>
        </p>
      </div>
    </div>
    <!-- <form class="form-inline d-flex justify-content-center">
      <div class="input-group input-group-lg">
        <div class="input-group mb-2" >
          <input type="text" class="form-control" placeholder="Email" id="sizing-addon1">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </span>
        </div>
      </div>
    </form>
    <span class="text-muted mt-2"><strong>We respect privacy.</strong> And never share your email address.</span> -->
  </div>
</div>
