<!DOCTYPE html>
<html>
  <head>
    <title>BlockLibrary</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- FONTS -->
    <link <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,600|Roboto:100,200,300,400,600" rel="stylesheet">

    <!-- MAP -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.css' rel='stylesheet' />

    <!-- <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/quantumpipes/sitecast/vendors/bootstrap/dashboard/v4/dist/toolkit-light.min.css">
    <link rel="script" href="https://s3-us-west-2.amazonaws.com/quantumpipes/sitecast/vendors/bootstrap/theme-dashboard/v4/dist/toolkit.min.js"> -->
    <!-- Bootstrap theme bold -->
    <!-- <link rel="stylesheet" href="  https://s3-us-west-2.amazonaws.com/quantumpipes/sitecast/vendors/bootstrap/theme-marketing/v4/dist/toolkit-startup.min.css"> -->

    <!-- <link rel="stylesheet" href="    https://s3-us-west-2.amazonaws.com/quantumpipes/sitecast/vendors/bootstrap/theme-marketing/v4/dist/toolkit-bold.min.css"> -->

    <!-- Minimal: -->
    <link rel="stylesheet" href="    https://s3-us-west-2.amazonaws.com/quantumpipes/sitecast/vendors/bootstrap/theme-marketing/v4/dist/toolkit-minimal.min.css">

    <!-- Startup: -->
    <!-- <link rel="stylesheet" href="    https://s3-us-west-2.amazonaws.com/quantumpipes/sitecast/vendors/bootstrap/theme-marketing/v4/dist/toolkit-startup.min.css"> -->

    <!-- Startup: -->
    <link rel="script" href="    https://s3-us-west-2.amazonaws.com/quantumpipes/sitecast/vendors/bootstrap/theme-marketing/v4/dist/toolkit.min.js">

    <!-- BOOTSTRAP JS -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <!-- FOR CALENDAR DATEPICKER -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="http://www.google.com/jsapi" type="text/javascript"></script>
    <script src="https://use.fontawesome.com/0dfbe7b74a.js"></script>
  </head>

<!-- NAVIGATION -->
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse bg-faded fixed-top mb-4" style="">
    <button class="navbar-toggler navbar-toggler-right mt-2" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand hidden-md-down" href="/pages/home"><img src="../images/logo_grey.png" alt="StarveUps logo" style="width: 200px; margin-bottom:-60px"></a>
    <a class="navbar-brand hidden-lg-up" href="/pages/home"><img src="../images/logo_grey.png" alt="StarveUps logo" style="width: 150px; margin-bottom:-50px"></a>

    <div class="collapse navbar-collapse mt-4" id="navbarText">
      <ul class="navbar-nav mr-auto ">
        <hr class="hidden-sm-up">
        <li class="nav-item mx-2 px-2">
          <a class="nav-link ml-0" href="/pages/home/#about">ABOUT</a>
        </li>
        <li class="nav-item mx-2 px-2">
          <%= link_to 'MEMBERS', profiles_path, :class=>"nav-link" %>
        </li>
        <li class="nav-item mx-2 px-2">
          <a class="nav-link" href="#">CHAPTERS</a>
        </li>
        <li class="nav-item mx-2 px-2">
          <%= link_to 'EVENTS', events_path, :class=>"nav-link" %>
        </li>
        <li class="nav-item mx-2 px-2">
          <%= link_to 'PARTNERS', href='/pages/home/#partners', :class=>"nav-link" %>
        </li>
        <li class="nav-item mx-2 px-2">
          <a class="nav-link" href="#">RESULTS</a>
        </li>
        <li class="nav-item mx-2 px-2">
          <a class="nav-link" href="/pages/home/#contact">CONTACT</a>
        </li>
      </ul>
      <span class="navbar-text">
        Subscribe will go here
      </span>
    </div>
  </nav>




  <body class="background-grey" style="margin-top: 10rem">

    <%= yield %>
  </body>
  <!-- FOOTER -->
  <footer class="navbar-inverse bg-inverse sticky-bottom text-white py-4">
    <div class="text-center d-flex justify-content-center pt-4 mb-3" style="flex-wrap:nowrap">
      <h5><a href="https://twitter.com/StarveUps?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank" class="icon white-text px-2"><i class="fa fa-twitter" aria-hidden="true"></i></a></h5>
      <h5><a href="https://www.facebook.com/starveups/" target="_blank" class="icon white-text px-2"><i class="fa fa-facebook" aria-hidden="true"></i></a></h5>
      <h5><a href="https://www.instagram.com/starveups/" target="_blank" class="icon white-text px-2"><i class="fa fa-instagram" aria-hidden="true"></i></a></h5>
      <h5><a href="https://vimeo.com/starveups" target="_blank" class="icon white-text px-2"><i class="fa fa-vimeo" aria-hidden="true"></i></a></h5>
      <h5><a href="https://www.linkedin.com/company/starve-ups" target="_blank" class="icon white-text px-2"><i class="fa fa-linkedin" aria-hidden="true"></i></a></h5>
      <h5><a href="https://www.pinterest.com/starveups/" target="_blank" class="icon white-text px-2"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></h5>
      <h5><a href="https://www.youtube.com/channel/UC0mztc9zrWaX3QFD_UMT5gA/videos?sort=dd&view=0&shelf_id=0" target="_blank" class="icon white-text px-2"><i class="fa fa-youtube-play" aria-hidden="true"></i>
      </a></h5>

    </div>
    <div class="container text-center" style="font-size:.75em; letter-spacing:.5px">
      <!-- <p class="text-white"><strong>Starve Ups</strong></p> -->
      <p>&copy;2017 Starve Ups. All Rights Reserved.</p>


    </div>
  </footer>
</html>
